<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded" class="side-nav">
      <mat-nav-list>
  
        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon>{{!isExpanded ?"chevron_right" :"chevron_left"}}</mat-icon>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'dashboard'">
          <span *ngIf="isExpanded" class="menu-item">Quiebre de stock</span>
        </mat-list-item>
  
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="header">
        <span class="title">Stock</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>